{%load static%}
{%include 'store/header.html'%}


    <div>
        <div class="bloc_a_propos">
            <h2>Notre Histoire</h2>
            <p>Le Coin Libre est né d'un simple constat : l'incroyable potentiel de connexion et de partage au sein des campus universitaires. Imaginé par des étudiants, pour des étudiants, notre plateforme s'est épanouie à partir d'un besoin fondamental : faciliter les échanges entre pairs.</p>
            <br>
            <p>Tout a commencé autour d'une table de café, où des discussions passionnées sur les défis quotidiens auxquels nous faisions face en tant qu'étudiants ont enflammé nos esprits créatifs. La difficulté de trouver des ressources abordables et la nécessité de se débarrasser de biens devenus superflus ont été les points de départ de cette aventure.</p>
            <br>
            <p>Après des mois de travail acharné, d'échanges fructueux et de collaboration, Le Coin Libre a vu le jour. Notre vision était simple : créer un espace en ligne convivial et sécurisé où chaque étudiant pourrait vendre, acheter ou échanger des objets avec la communauté estudiantine de son campus.</p>
            <br>
            <p>Ce projet ne se résume pas simplement à une plateforme de commerce en ligne, mais à une véritable communauté. Nous croyons au pouvoir de la circularité, encourageant la réutilisation et la réduction du gaspillage tout en favorisant un esprit de camaraderie au sein de notre environnement éducatif.</p>
            <br>
            <p>Notre histoire est façonnée par les milliers d'étudiants qui ont rejoint Le Coin Libre, partageant leurs livres, leurs meubles, leurs équipements sportifs et bien plus encore. Chaque objet échangé représente non seulement une transaction, mais un lien qui se crée entre deux individus au sein d'une même communauté.</p>
            <br>
            <p>Aujourd'hui, nous regardons en arrière avec fierté, mais surtout en avant avec enthousiasme. Le Coin Libre continuera d'évoluer, de s'adapter et d'innover pour répondre aux besoins changeants de la vie étudiante. Ensemble, nous façonnons l'expérience étudiante, un objet à la fois.
            </p>
        </div>
    
        <div class="bloc_a_propos">
            <h2>Notre Équipe</h2>
                <div class="team-member">
                    <div class="Nom">
                        <img src="../static/images2/PX.jpg">
                        <p> Mathis Benyahia </p>
                    </div>
                    <div class="Nom">
                        <img src="../static/images2/T.jpg">
                        <p> Adrian Demarcy</p>
                    </div>
                    <div class="Nom">
                        <img src="../static/images2/BW.jpg">
                        <p> Yoan Di Cosmo</p>
                    </div>
                    <div class="Nom">
                        <img src="../static/images2/VV.jpeg">
                        <p> Renaud Michelon</p>
                    </div>
                    <div class="Nom">
                        <img src="../static/images2/IM.jpg">
                        <p>Titouan Morvan</p>
                    </div>
                    <div class="Nom">
                        <img src="../static/images2/H.jpg">
                        <p>Younes Saad</p>
                    </div>
                </div>
        </div>
    
        <div class="bloc_a_propos">
            <h2>Contactez-nous </h2>
            <p>Contactez-nous au : <strong>0781828385</strong> ou à <strong>lecoinlibre@gmail.com</strong></p>
         </div>
    </div>

{%include 'store/footer.html'%}