{% load static %}
{%include 'store/header.html'%}

{% block content %}
  
  <form class="formulaire_ajout_produit" method="post" enctype="multipart/form-data">
    <h1>Ajouter un produit</h1>
    {% csrf_token %}
    <div class="titre_ajout">
      <label class="titre_cellule" for="{{ form.title.id_for_label }}">Titre:</label>
      {{ form.title }}
    </div>

    <div class="description_ajout">
      <label class="titre_cellule" for="{{ form.description.id_for_label }}">Description:</label>
      <br>
      {{ form.description }}
    </div>

    <div class="prix_ajout">
      <label class="titre_cellule" for="{{ form.price.id_for_label }}">Prix:</label>
      
      {{ form.price }}
    </div>

    <div class="category_ajout">
      <label class="titre_cellule" for="{{ form.category.id_for_label }}">Catégorie:</label>
      
      {{ form.category }}
    </div>

    <div class="photos_ajout">
      <label class="titre_cellule" for="{{ form.photos.id_for_label }}">Photos:</label>
      <br>
      {{ form.photos }}
    </div>
    <CENTER>
    <button class="rechercher" type="submit" class="btn btn-primary">Publier une annonce</button>
    </CENTER>
  </form>
{% endblock %}

{%include 'store/footer.html'%}