
{%load static%}
{%include 'store/header.html'%}

<h1>Page d'authentification</h1>
{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form class='auth' method="post" action="{% url 'auth' %}"> 
    <div class="formulaire_auth">
        
        <!-- csrf_token est une protection contre les attaques CSRF (Cross-Site Request Forgery) -->
        {% csrf_token %} 
        <!--as_p permet de générer un formulaire HTML avec une balise <p> pour chaque champ-->
        {{ form.as_p }}
       
        <button type="submit">Se connecter/S'inscrire</button>
    </div>

</form>
{%include 'store/footer.html'%}
{% endblock %}