{% load static %}
{%include 'store/header.html' %}

        <!-- construction d'une barre de recherche -->

        <form class="Recherche_form" id="search" action="{%url 'search' %}">
            <input type="text" id="search" name="search" placeholder="Entrez votre recherche">
            <select id="categorie" name="Catégorie">
                <option value="0"> Catégorie </option>
                {% for categorie in liste_categories %}
                <option value="{{ categorie.id }}"> {{ categorie.name }} </option>
                {% endfor %}
            </select>
            <input class="rechercher" type="submit" value="Rechercher">
        
        </form>

        <!-- construction d'un bloc produit à itérer --> 

        {% for produit in liste_produit %}
        <div class="bloc_produit">
            <div class="photo_produit">
                <img src= '{{produit.image}}'>
            </div>
            <div class="description_produit">

                <h1> {{ produit.nom }} </h1>
                <h2 class="prix"> {{ produit.prix }} € </h2>

                <p class="description"> {{ produit.description }} </p>
            </div>
        </div>
        {% endfor %}

 
{%include 'store/footer.html' %}