
{%load static%}
{%include 'store/header.html'%}

{% block content %}
  
  <form class="formulaire_connexion" method="post" action="{% url 'connect' %}">
    <h2><CENTER>Se connecter</CENTER></h2>
    {% csrf_token %}
    <div class="email_connexion">
      <label class="titre_cellule" for="{{ form.username.id_for_label }}">Adresse Email:</label>
      {{ form.username }}
    </div>
    <div class="password_connexion">
      <label class="titre_cellule" for="{{ form.password.id_for_label }}">Mot de passe:</label>
      {{ form.password }}
    </div>
    <button class="Connexion" type="submit">Se connecter</button>
    <a class="Connexion" href="{% url 'auth' %}"><CENTER>Register</CENTER></a>
  </form>
{% endblock %}

<a href="{% url 'auth' %}">Register</a>
{%include 'store/footer.html'%}