{% load static %}
{%include 'store/header.html'%}


<div class="bloc_produit_seul">
    <div class="photo_produit">
        <button class='button_gauche' id="changeButton" onclick="changeImageMoins()">&#60</button>
        <img id="image_seule" src= '../static/images/{{liste_produit.id}}/image1.jpg' alt="Image">
        <button class='button_droite' id="changeButton" onclick="changeImagePlus()">&#62</button>
    </div>
    <p class="date_seul">{{liste_produit.date}}</p>
    <div class="description_produit_seul">
        <h1 class="titre_seul"> {{ liste_produit.nom }} </h1>
        <h3 class="prix_seul"> {{ liste_produit.prix }} € </h3>
        <div class="barre"></div>
        <h3 class="titre_description">Description </h3>
        <p class="description_seul"> {{ liste_produit.description }} </p>
        
    </div>
</div>

<script>
    let currentIndex = 1; // Indice initial de l'image
    const totalImages = {{liste_produit.nb_image}}; // Nombre total d'images

    function changeImagePlus() {
        currentIndex+=1;
        if (currentIndex > totalImages) {
            currentIndex = 1; // Revenir à la première image si on atteint la fin
        }
        
        const imageElement = document.getElementById('image');
        imageElement.src = `../static/images/{{liste_produit.id}}/image${currentIndex}.jpg`; // Remplace image1.jpg, image2.jpg, etc.
    }

    function changeImageMoins() {
        currentIndex-=1;
        if (currentIndex <= 0) {
            currentIndex = totalImages; // Revenir à la première image si on atteint la fin
        }
        
        const imageElement = document.getElementById('image');
        imageElement.src = `../static/images/{{liste_produit.id}}/image${currentIndex}.jpg`; // Remplace image1.jpg, image2.jpg, etc.
    }
</script>

{%include 'store/footer.html'%}