{% load static %}
{%include 'store/header.html'%}

<div class="bloc_produit">
    <div class="photo_produit">
    {% for img in liste_produit.image%}
        <img src= '../{{img}}'>
        {%endfor%}
    </div>
    <div class="description_produit">
        <h1> {{ liste_produit.nom }} </h1>
        <h3 class="prix"> {{ liste_produit.prix }} € </h3>
        <p class="description"> {{ liste_produit.description }} </p>
        <p class="date">{{liste_produit.date}}</p>
    </div>
</div>

{%include 'store/footer.html'%}