{% load static %}
{%include 'store/header.html'%}
   
        
         <!-- construction d'une barre de recherche -->

         <form class="Recherche_form" id="search" action="{%url 'search' %}">
            <select id="categorie" class ="catégories" name="Catégorie">
                <option value="0"> Catégorie </option>
                {% for categorie in liste_categories %}
                <option value="{{ categorie.id }}"> {{ categorie.name }} </option>
                {% endfor %}
            </select>
            <div class="bloc_recherche_droite">
                <input class="barre_recherche" type="text" id="search" name="search" placeholder="Entrez votre recherche">
                <input class="rechercher" type="submit" value="Rechercher">
            </div>
         </form>
        



        <!-- construction des résultats de la recherche-->
    {% if liste_produit %}
        {% for produit in liste_produit %}
        <div class="bloc_produit">
            <div class="photo_produit">
                <img src='../static/images/{{produit.id}}/image1.jpg'>
            </div>
            <div class="description_produit">
                <a href='/produit/{{produit.id}}'>
                    <h1>{{ produit.nom }}</h1>
                </a>
                <h2 class="prix">{{ produit.prix }} €</h2>
                <div class="bloc_date_profil">
                    <p>Annonce publiée par</p>
                    <a href= '/user_profile/?query={{produit.user}}'>
                        <p class="user"> {{produit.user}} </p>
                    </a>
                    <p class="date">
                        le {{produit.date}}
                    </p>
                </div>
                
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Aucun résulat</p>
    {% endif %}
   
{%include 'store/footer.html'%}
