{% load static %}
{%include 'store/header.html'%}
   
        
         <!-- construction d'une barre de recherche -->

         <form class="Recherche_form" id="search" action="{%url 'search' %}">
            <input type="text" id="search" name="search" placeholder="Entrez votre recherche">
            <select id="categorie" name="Catégorie">
                <option value="0"> Catégorie </option>
                {% for categorie in liste_categories %}
                <option value="{{ categorie.id }}"> {{ categorie.name }} </option>
                {% endfor %}
            </select>
            <input class="rechercher" type="submit" value="Rechercher">
        </form>


        <!-- construction des résultats de la recherche-->
    {% if liste_produit %}
        {% for produit in liste_produit %}
        <div class="bloc_produit">
            <div class="photo_produit">
                <img src= '../static/images/{{produit.id}}/image1.jpg' style="width: 300px;">
            </div>
            <div class="détails_produit">
                <a href='/produit/{{produit.id}}'><h1> {{ produit.nom }} </h1></a>
                <h2 class="prix"> {{ produit.prix }} € </h2>
                <a href= '/user_profile/?query={{produit.user}}'><h3 class="user">{{produit.user}}</h3></a>
                <p class="description"> {{ produit.description }} </p>
                <p class="date">{{produit.date}}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Aucun résulat</p>
    {% endif %}
   
{%include 'store/footer.html'%}
