
{%load static%}
{%include 'store/header.html'%}


{% block content %}
<form class="formulaire_connexion" method="post" action="{% url 'auth' %}">
  <h2><CENTER>S'inscrire</CENTER></h2>
  {% if messages %}
    {%for message in messages%}
    <h3><center>{{ message}}</center></h3>
    {%endfor%}
  {% endif %}
  {% csrf_token %}
  <div class="email_connexion">
    <label class="titre_cellule" for="{{ form.username.id_for_label }}">Entrez votre adresse Email CS : </label>
    {{ form.username }}
  </div>
  <div class="password_connexion">
    <label class="titre_cellule" for="{{ form.password.id_for_label }}">Entrez votre mot de passe:</label>
    {{ form.password1 }}
  </div>
  <div class="password_connexion">
    <label class="titre_cellule" for="{{ form.password.id_for_label }}">Entrez à nouveau votre mot de passe:</label>
    {{ form.password2 }}
  </div>
  <button class="Connexion" type="submit">S'inscrire</button>
  <a class="Connexion" href="{% url 'connect' %}"><CENTER>Déjà Membre</CENTER></a>
</form>
{% endblock %}
{%include 'store/footer.html'%}