{%load static%}
{%include 'store/header.html'%}

{% block content %}

{% if request.user.is_authenticated and request.user.username == email %}

  <CENTER><h2>Bienvenue sur votre page utilisateur, {{username}} !</h2></CENTER>
  <div class="bloc_profil">
    <!-- Informations utilisateur -->
    <div>
      <h3>Informations utilisateur :</h3>
      <p>Prénom nom : {{username}}</p>
      <p>Email : {{email}}</p> 
    </div>
    <a class="bouton_deconnexion"href="{% url 'disconnect' %}"><button class="rechercher">Se déconnecter</button></a>
  </div>
    <!-- Produits de l'utilisateur -->
  <div>
    <center><h2>Vos produits en vente </h2></center>
    {% if unreserved_products %}
      {% for produit in unreserved_products %}
        <div class="bloc_produit">
          <div class="photo_produit">
              <img src='../static/images/{{produit.id}}/image1.jpg'>
          </div>
          <div class="description_produit">
              <a href='/produit/{{produit.id}}'>
                  <h1>{{produit.title}}</h1>
              </a>
              <h2 class="prix">{{ produit.price }} €</h2>
              <div class="bloc_bas_produit_profil">
                <div class="bloc_date_profil">
                  <p>Annonce publiée par</p>
                  <a href= '/user_profile/?query={{produit.user_mail}}'><p class="user"> {{produit.user}} </p></a>
                  <p class="date">le {{produit.date}}</p>
                </div>
                <a class="supprimer" href="{% url 'delete_product' produit.id %}" onclick="return ConfirmDelete()">Supprimer</a>         
                  </a>
              </div>
          </div>
      </div>
      {% endfor %}
    {% else %}
    <div class="bloc_profil">
      <center><p>Vous n'avez actuellement aucun produit en vente.</p></center>
    </div>
    {% endif %}
  </div>
  <div>
    <center><h2>Vos produits réservés</h2></center>
    {% if reserved_products %}
        {% for product in reserved_products %}
          <div class="bloc_produit">
            <div class="photo_produit">
                <img src='../static/images/{{product.id}}/image1.jpg'>
            </div>
            <div class="description_produit">
                <a href='/produit/{{product.id}}'>
                    <h1>{{ product.title }}</h1>
                </a>
                <h2 class="prix">{{ product.price}} €</h2>
                <div class="bloc_reservation_profil">
                  <p>Réservé par</p>
                  <a href= '/user_profile/?query={{product.buyer_mail}}'><p class="user"> {{product.buyer}} </p></a>
                </div>
                <div class="bloc_bas_produit_profil">
                  <div class="bloc_date_profil">
                    <p>Annonce publiée le </p>
                    <p class="date"> {{product.date}}</p>
                  </div>            
                  <a class="supprimer" href="{% url 'delete_product' product.id %}" onclick="return ConfirmDelete()">Supprimer</a>         
                    </a>
                </div>
            </div>
          </div>
        {% endfor %}
    {% else %}
    <div class="bloc_profil">
      <center><p>Vous n'avez actuellement aucun produit réservé.</p></center>
    </div>
    {% endif %}
  <div>
    <center><h2>Vos réservations</h2></center>
    {% if reservations %}
      {% for produit in reservations %}
        <div class="bloc_produit">
          <div class="photo_produit">
              <img src='../static/images/{{produit.id}}/image1.jpg'>
          </div>
          <div class="description_produit">
              <a href='/produit/{{produit.id}}'>
                  <h1>{{produit.title}}</h1>
              </a>
              <h2 class="prix">{{ produit.price }} €</h2>
              <div class="bloc_bas_produit_profil">
                <div class="bloc_date_profil">
                  <p>Annonce publiée par</p>
                  <a href= '/user_profile/?query={{produit.user_mail}}'><p class="user"> {{produit.user}} </p></a>
                  <p class="date">le {{produit.date}}</p>
                </div>
              </div>
          </div>
      </div>
      {% endfor %}
    {% else %}
    <div class="bloc_profil">
      <center><p>Vous n'avez réservé aucun produit.</p></center>
    </div>
    {% endif %}
  </div>





  </div>
  </div>      
  
<script>
  function ConfirmDelete() {
      const confirmation = window.confirm("Êtes-vous sûr de vouloir supprimer ce produit ?");
        
      return confirmation; // Renvoie true si l'utilisateur clique sur "OK" et false sinon
  }
</script>

{% else %}

  <CENTER><h2>Bienvenue sur la page utilisateur de {{username}} !</h2></CENTER>
  <div class="bloc_produit">
    <!-- Informations utilisateur -->
    <div>
      <h3>Informations utilisateur :</h3>
      <p>Nom d'utilisateur : {{username}}</p>
      <p>Email : {{email}}</p>
    </div>
  </div>
    <!-- Produits de l'utilisateur -->
  <div>
    <CENTER><h2>Produits en vente</h2></CENTER>
    {% if unreserved_products %}
      {% for product in unreserved_products %}
        <li>
          <div class="bloc_produit">
            <div class="photo_produit">
                <img src='../static/images/{{product.id}}/image1.jpg' style="width: 300px;">
            </div>
            <div class="description_produit">
                <a href='/produit/{{product.id}}'>
                    <h1>{{product.title}}</h1>         
                </a>
                <h2 class="prix">{{product.price}} €</h2>
                <p class="description">{{product.description}}</p>
                <p class="date">{{product.date}}</p>
            </div>
        </li>
      {% endfor %}
    {% else %}
      <p>Aucun produit en vente.</p>
    {% endif %}
  </div>

{% endif %}

{% endblock %}

{% include 'store/footer.html' %}

