/*Général*/
a{
    text-decoration: none;
    color:black;
}
body {
    background: url(images/fond.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Vina Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    background-color:rgb(141, 22, 22, 0.9);
    color: white;
    font-family: 'Monoton', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    height: fit-content;
    flex-direction: column;
    align-items: baseline;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.titre {
    font-size: 1.5em;
}

nav {
    display: grid;
    font-family: 'Vina Sans', sans-serif;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.bouton_accueil a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
    color: white;
    margin: 0;
}

.bouton_accueil {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', sans-serif;
}


.bouton_accueil a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
}

/* Footer */
footer{
    background: linear-gradient(to bottom,rgb(141, 22, 22),rgb(197, 127, 127));
    font-family: 'Vina Sans', sans-serif;
    color : white;
    text-align: center;
    bottom: 0;
    width: 100%;
    flex: 1;
    padding: 5px;
    margin-bottom: 0;
}

/* Page produit */ 


.bloc_produit_seul{
    margin: 2em;
    padding: 2em;
    border: 0.5em solid rgb(186, 186, 186);
    border-radius: 2em;
}

.photo_produit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25em;
    flex-wrap: nowrap;
}

.photo_produit img {
    height:100%;
}

.photo_produit button{
    background-color: #2c2c2c;
    height:100%;
    width:2em;
    color : white;
}

.button_gauche{
    border-start-start-radius: 2em;
    border-end-start-radius: 2em;
}

.button_droite{
    border-start-end-radius: 2em;
    border-end-end-radius: 2em;
}

.date_seul{

}

.titre_seul{

}

.description_produit_seul{
}

.prix_seul{
}

.barre{
    border:rgb(186, 186, 186) solid 0.1em;
    border-radius: 0.5em;
}



/* Page accueil : barre recherche */

.Recherche_form{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin : 2em 20em 5em 20em;
    

}
.catégories , .rechercher{
    margin-right:2em;
    background-color:rgb(141, 22, 22);
    color:white;
    font-size:large;
    font-weight:bold;
    padding : 1em 1em 1em 1em;
}

.rechercher{
    border:none;
}


.barre_recherche{
    border-bottom: solid 0.3em rgb(141,22,22);
    border-top: none;
    border-left:none;
    border-right:none;
    font-size:medium;
    padding-left:1em;
}

/* Page accueil : bloc produit */

.bloc_produit{
    background-color: rgb(255,255,255,0.9);
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 20em;
    margin : 2em 15em 2em 15em;
    padding: 2em;
    border-bottom: solid 0.2em rgb(141,22,22);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.photo_produit{
    height:20em;
    justify-content:center;
}

.description_produit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.prix {
    margin-top : 2em;
}

.bloc_produit h1:hover{
    color: grey;
}

.formulaire_auth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
}


/*User profil*/
.bloc_date_profil{
    display:flex;
    flex-direction: row;
    color:grey;
    font-size:small;
    justify-content: flex-end;
    gap:3px;
    margin-top: auto; 
}

.bloc_profil{
    display: grid;
    grid-template-rows : 3fr 1fr;
    height: fit-content;
    margin : 2em 15em 2em 15em;
    padding: 2em;
    border-bottom: solid 0.2em rgb(141,22,22);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.bouton_deconnexion{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/*Page à propos*/

.section {
    background-color: #f7f7f7; /* Couleur de fond */
    color: #333; /* Couleur du texte */
    border: 1px solid #ccc; /* Bordure */
    padding: 20px; /* Espacement intérieur */
    margin: 20px 0; /* Marge extérieure en haut et en bas, pas sur les côtés */
    border-radius: 8px; /* Rayon de bordure */
    font-family: Arial, sans-serif; /* Famille de police */
    font-size: 16px; /* Taille de police */
    line-height: 1.6; /* Hauteur de ligne */
    width: 95%;
}

.team-member {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-member > div {
    flex: 0 0 calc(33.333% - 20px); /* Pour afficher 3 membres par ligne */
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.team-member > div:nth-child(3n) {
    margin-right: 0;
}

.team-member img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

/*Ajouter un produit*/

.formulaire_ajout_produit{
    display: grid;
    grid-template-rows : 1fr 1fr 1fr 1fr 3fr;
    height: fit-content;
    margin : 2em 30em 2em 30em;
    padding: 2em;
    border-bottom: solid 0.2em rgb(141,22,22);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
} 


.titre_cellule{
    margin-right:2em;
    font-weight:bold;
}
