/*Général*/
a{
    text-decoration: none;
    color:black;
}
body {
    background-color: white;
    font-family: 'Vina Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    background: linear-gradient(to top,rgb(141, 22, 22),rgb(197, 127, 127));
    color: white;
    font-family: 'Monoton', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    height: fit-content;
    flex-direction: column;
    align-items: baseline;
}
.titre {
    font-size: 1.5em;
}

nav {
    display: grid;
    font-family: 'Vina Sans', sans-serif;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.bouton_accueil a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
    color: white;
    margin: 0;
}

.bouton_accueil {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', sans-serif;
}


.bouton_accueil a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
}

/* Footer */
footer{
    background-color: rgb(141, 22, 22);
    font-family: 'Vina Sans', sans-serif;
    color : white;
    text-align: center;
    bottom: 0;
    width: 100%;
    flex: 1;
    padding: 5px;
    margin-bottom: 0;
}

/* Page produit */ 


.bloc_produit_seul{
    margin: 2em;
    padding: 2em;
    border: 0.5em solid rgb(186, 186, 186);
    border-radius: 2em;
}

.photo_produit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25em;
    flex-wrap: nowrap;
}

.photo_produit img {
    height:100%;
}

.photo_produit button{
    background-color: #2c2c2c;
    height:100%;
    width:2em;
    color : white;
}

.button_gauche{
    border-start-start-radius: 2em;
    border-end-start-radius: 2em;
}

.button_droite{
    border-start-end-radius: 2em;
    border-end-end-radius: 2em;
}

.date_seul{

}

.titre_seul{

}

.description_produit_seul{
}

.prix_seul{
}

.barre{
    border:rgb(186, 186, 186) solid 0.1em;
    border-radius: 0.5em;
}



/* Page accueil */


.rechercher {
    background-color: #2c2c2c;
    color: white;
    border: none;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}


.bloc_produit{
    display: flex;
    flex-direction: column;
}

.Recherche_form{
    display:grid;
    grid-template-columns: 6fr 3fr 1fr;
    gap: 1em;
    height:2em;
    margin-bottom:5em;
}

input{
    background-color: white;
    color: #2c2c2c;
    border: none;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    width: auto;
}

select{
    background-color: white;
    color: #2c2c2c;
    border: none;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    width: auto;
    height:2em;
}


.bloc_produit{
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    margin-left: 10em;
    margin-right:10em;
    margin-top:2em;
    margin-bottom:2em;
    padding: 1em;
    border: 3px solid grey;
    border-radius: 0.5em;
    height: fit-content;
}


.description_produit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.prix {}

.description{
    margin-top: 3em;
}

.formulaire_auth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

/*Page à propos*/

.section {
    background-color: #f7f7f7; /* Couleur de fond */
    color: #333; /* Couleur du texte */
    border: 1px solid #ccc; /* Bordure */
    padding: 20px; /* Espacement intérieur */
    margin: 20px 0; /* Marge extérieure en haut et en bas, pas sur les côtés */
    border-radius: 8px; /* Rayon de bordure */
    font-family: Arial, sans-serif; /* Famille de police */
    font-size: 16px; /* Taille de police */
    line-height: 1.6; /* Hauteur de ligne */
    width: 95%;
}

.team-member {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-member > div {
    flex: 0 0 calc(33.333% - 20px); /* Pour afficher 3 membres par ligne */
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.team-member > div:nth-child(3n) {
    margin-right: 0;
}

.team-member img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}



