/*Général*/
a{
    text-decoration: none;
    color:black;
}
body {
    background: url(images/fond.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Vina Sans', sans-serif;
    margin: 0;
    padding: 0;
    margin-top:10em;
    width:100%;
    height:auto;

}

/* Header */
header {
    background-color:rgb(141, 22, 22, 0.9);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    height: fit-content;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 1000;
    width:100%;
}
.titre {
    font-size: 1.5em;
    font-family: 'Monoton', sans-serif;
    color:white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
}



nav {
    display: grid;
    font-family: 'Vina Sans', sans-serif;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%
}

.bouton_accueil a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
    color: white;
    margin: 0;
}

.bouton_accueil {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', sans-serif;
}


.bouton_accueil a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
}

.bouton_ajout_dynamique{
    background-color: rgb(141, 22, 22);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
    position:fixed;
    bottom: 5em;
    right:7.5em;
}

.bouton_ajout_dynamique a{
    font-family: 'quicksand', sans-serif;
    color: rgba(255,255,255,0.9);
    font-size:3em;
    display:flex;
    justify-content: center;
    line-height: 0.9em;

}

.bouton_ajout_dynamique:hover{
    border: 0.3em solid white;
}
/* Footer */
footer{
    background-color:rgb(141, 22, 22, 0.9);
    font-family: 'Vina Sans', sans-serif;
    color : white;
    text-align: center;
    padding: 5px;
    margin:0px;

}

/* Page produit */ 


.bloc_produit_seul{
    background-color: rgb(255,255,255,0.9);
    display: grid;
    grid-template-rows: 10fr 7fr;
    height: fit-content;
    margin : 2em 15em 2em 15em;
    padding: 2em;
    border-bottom: solid 0.2em rgb(141,22,22);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.photo_produit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:30em;
}

.photo_produit img {
    height:100%;
}

.photo_produit button{
    background-color: rgb(141, 22, 22);
    height:100%;
    width:2em;
    color : white;
    border:none;
}

.button_gauche{
    border-start-start-radius: 25%;
    border-end-start-radius: 25%;
}

.button_droite{
    border-start-end-radius: 25%;
    border-end-end-radius: 25%;
}

.date_seul{

}

.titre_seul{

}

.description_produit_seul{
    
}

.prix_seul{
}

.barre{
    border:rgb(141,22,22) solid 0.1em;
    border-radius: 0.5em;
}

.titre_description{
    font-weight: bold;
}

.description_seul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Page accueil : barre recherche */

.Recherche_form{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin : 2em 20em 5em 20em;
    

}
.catégories , .rechercher{
    margin-right:2em;
    background-color:rgb(141, 22, 22);
    color:white;
    font-size:large;
    font-weight:bold;
    padding : 1em 1em 1em 1em;
    cursor: pointer;
}

.rechercher{
    border:none;
}


.barre_recherche{
    border-bottom: solid 0.3em rgb(141,22,22);
    border-top: none;
    border-left:none;
    border-right:none;
    font-size:medium;
    padding-left:1em;
}

/* Page accueil : bloc produit */

.bloc_produit{
    background-color: rgb(255,255,255,0.9);
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 20em;
    margin : 2em 15em 2em 15em;
    padding: 2em;
    border-bottom: solid 0.2em rgb(141,22,22);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.photo_produit{
    height:20em;
    justify-content:center;
    margin-right: 1em;
}

.description_produit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.prix {
    margin-top : 2em;
}

.bloc_produit h1:hover{
    color: grey;
}

.formulaire_auth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.Nom{
    text-align: center;
}


/*User profil*/
.bloc_date_profil{
    background-color: none;
    display:flex;
    flex-direction: row;
    color:grey;
    font-size:small;
    justify-content: flex-end;
    gap:3px;
    margin-top: auto; 
}

.bloc_profil{
    background-color: rgb(255,255,255,0.9);
    display: grid;
    grid-template-rows : 3fr 1fr;
    height: fit-content;
    margin : 2em 15em 2em 15em;
    padding: 2em;
    border-bottom: solid 0.2em rgb(141,22,22);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.bouton_deconnexion{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.supprimer{
    background-color:rgb(141, 22, 22);
    color:white;
    font-size:large;
    font-weight:bold;
    padding : 1em 1em 1em 1em;
    cursor: pointer;
    border:none;

}

.bloc_bas_produit_profil {
    width:100%;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    margin-top: auto;
}

.bloc_reservation_profil{
    background-color: none;
    display:flex;
    flex-direction: row;
    color:grey;
    font-size:small;
    justify-content: flex-end;
    gap:3px;
    margin-top: auto;
}
/*Page à propos*/


.team-member {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.team-member img {
    width: 60%;
    height:60%;
    border-radius: 50%;
    margin-bottom: 1em;
    object-fit: cover;
}

.bloc_a_propos{
    background-color: rgb(255,255,255,0.9);
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: fit-content;
    margin : 2em 15em 2em 15em;
    padding: 2em;
    border-bottom: solid 0.2em rgb(141,22,22);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.linkedin-image {
    transition: opacity 0.3s ease-in-out; /* Effet de transition sur l'opacité */
}

.linkedin-image:hover {
    opacity: 0.6; /* Opacité légèrement réduite au survol */
}

/*Ajouter un produit*/

.formulaire_ajout_produit{
    background-color: rgb(255,255,255,0.9);
    gap:1em 0em;
    display: grid;
    grid-template-rows : 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
    height: fit-content;
    margin : 2em 15em 2em 15em;
    padding: 5em;
    border-bottom: solid 0.2em rgb(141,22,22);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}


.titre_cellule{
    font-weight:bold;
    margin-right:1em;
}
.titre_ajout{
    width:100%;
    height:100%;
    margin:0.2em;
}
.Titre_ajout{
    background-color: rgba(255,255,255,0.9);
    border-bottom: solid 0.3em rgba(141,22,22);
    border-top: solid 0.1em rgba(141,22,22);
    border-left:solid 0.1em rgba(141,22,22);
    border-right:solid 0.1em rgba(141,22,22);
    font-size:large;
    font-weight: bold;
    width: 80%;
}

.description_ajout{
    margin:0.2em;
    width:100%;
    height:100%;

}
.Description_ajout{
    width:100%;
    height:100%;
    margin-top:0.5em;
    background-color: rgba(255,255,255,0.9);
    border-bottom: solid 0.3em rgba(141,22,22);
    border-top: solid 0.1em rgba(141,22,22);
    border-left:solid 0.1em rgba(141,22,22);
    border-right:solid 0.1em rgba(141,22,22);
    font-size:large;
    height: auto;

}

.prix_ajout{
    margin:0.2em;
    font-weight: bold;
}
.Prix_ajout{
    margin-top:0.2em;
    background-color: rgba(255,255,255,0.9);
    border-bottom: solid 0.3em rgba(141,22,22);
    border-top: solid 0.1em rgba(141,22,22);
    border-left:solid 0.1em rgba(141,22,22);
    border-right:solid 0.1em rgba(141,22,22);
    font-size:large;
    width:20%;
}

.categorie_ajout{
    margin:0.2em;
    font-weight: bold;}

.Categorie_ajout{
    margin-top:0.2em;
    background-color: rgba(255,255,255,0.9);
    border-bottom: solid 0.3em rgba(141,22,22);
    border-top: solid 0.1em rgba(141,22,22);
    border-left:solid 0.1em rgba(141,22,22);
    border-right:solid 0.1em rgba(141,22,22);
    font-size:large;
    width:50%;

}

.photos_ajout{
    margin:0.2em;
    font-weight: bold;
}
.Photos_ajout{
    margin-top:0.5em;
    background-color: rgba(255,255,255,0.9);
    border:none;
    font-size:large;
    width:50%;
}


/* Page connexion */

.formulaire_connexion{
    background-color: rgb(255,255,255,0.9);
    gap:1em 0em;
    display: grid;
    grid-template-rows : 1fr 1fr 1fr 1fr;
    height: fit-content;
    margin : 2em 30em 2em 30em;
    padding: 5em;
    border-bottom: solid 0.2em rgb(141,22,22);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom:20em;
}

.Connexion{
    margin-right:2em;
    background-color:rgb(141, 22, 22);
    color:white;
    font-size:large;
    font-weight:bold;
    padding : 1em 1em 1em 1em;
    cursor: pointer;
    border:none;
    height:fit-content;
}

/* ajouter les media query pour les écrans plus petits */


